<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>Lotus Administration</span>
 <span class="example-spacer"></span>
 <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
   <button routerL ink="/list" mat-raised-button color="accent">
   View Enquiry
 </button>
</mat-toolbar>

<div class="container">
  <div class="logo text-center">
    <img width="300px" src="assets/gymlogo.png">
  </div>
 <router-outlet></router-outlet>
</div>

<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>
